// main: ../main.scss
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: #7c3848;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;

  .logo {
    line-height: 1;

    img {
      max-height: 32px;
      margin-right: 8px;
    }

    i {
      font-size: 24px;
      margin-right: 6px;
    }

    h1 {
      font-size: 28px;
      margin: 0;
      font-weight: 400;
      color: var(--heading-color);
    }
  }

  .scrolled & {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
}